<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Extract Attribute Tool 변환 페이지</title>
</head>

<body>
    <header>
        <h2>Extract Attribute Tool</h2>
        <hr>
    </header>
    <div id="progressBox">
     <progress id="progress" value="0" max="100"></progress> <span class="downloading"style="font-size: 10px;">downloading...</span>
    </div>
    <form id="form" action="/process" method="post" enctype="multipart/form-data">
        <div class="dropBox">
            <input type="file" id="file" name="file[]" onchange="changeValue(this)" multiple="">
            <button id="btn-choose">파일선택</button>
        </div>
        <p><input type="checkbox" name="csv" value="CSV">additionally generate shortname csv files</p>
        <p><input type="checkbox" name="dup" value="Duplicate">list only duplicate attributes</p>
        <br>
        <button id="upload">전송</button>
    </form>
    {% if err %}
    <script>
        alert("docx files only");
    </script>
    {% endif %}
    <script type="text/javascript" src="../static/script.js"></script>
</body>

</html>